{% extends 'task/base.html' %}
{% block content %}
    <br>
    <div class="container">
        <h3 class="display-4">Are You Sure You Want to Delete '{{ task }}'?</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-auto">
                    <a class="btn btn-outline-primary" href="{% url 'taskList' %}" role="button">Cancel</a>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-outline-danger" value="Delete" role="button">
                </div>
            </div>
        </form>
    </div>
{% endblock %}