{% extends 'task/base.html' %} {% block content %}
<div class="container">
  <h1>welcome to todo app homepage</h1>
  <form method="POST" class="form-inline">
    {% csrf_token %}
    {{ form.title }}
    <button type="submit" class="btn btn-outline-success">Add Task</button>
  </form>
  <ul>
    {% for task in tasks %}
    <li>
      {% if task.complete == True %}
      <strike>{{ task }}</strike>
      {% else %}
      <span>{{ task }}</span>
      {% endif %}
    </li>
    <a class="btn btn-outline-info" href="{% url 'update_task' task.id %}" role="button">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'delete_task' task.id %}" role="button">Delete</a>

    {% empty %}
    <p>No Tasks</p>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
